<div>
  <% @grouped_itins.each do |date, itins| %>
    <div class="card-day" data-controller="itin-collapse">
      <div>
        <h3 data-action="click->itin-collapse#toggle"><i data-itin-collapse-target='date' class="fa-solid fa-chevron-down"></i>  <%= date.strftime('%a %d %b %Y') %></h3>
      </div>
      <%= render "itineraries/day_list", itins: itins, date: date %>
    </div>
  <% end %>
</div>
