<body>
  <div class="container">
    <a href= "https://smartvacay.herokuapp.com">
      <img src="https://smartvacay.herokuapp.com/assets/new_logo2-a21b6aec0393e759d5faa485e6ae94a7c47e8718dca664a652f81e3a43a6cd9c.png" alt="Logo">
    </a>
    <div class="trip-details">
      <h1>Get Ready for Your Adventure!</h1>
      <p>Hey there, <%= @user.email %></p>
      <p>Thank you for creating a new trip using SmartVacay</p>
      <p>To view more details and manage your trip, click the link below:</p>
      <p><a href="https://smartvacay.herokuapp.com/trips">View Trip</a></p>
    </div>
    <div class="trip-advice">
      <h2>Trip Advice</h2>
      <p>Here are some general travel tips to make your trip more enjoyable:</p>
      <ul>
        <li>Research your destination and make a list of must-see attractions.</li>
        <li>Check the weather forecast for your travel dates and pack accordingly.</li>
        <li>Notify your bank about your travel plans to avoid any issues with your cards.</li>
        <li>Keep a digital or printed copy of important travel documents, such as your passport and itinerary.</li>
        <li>Stay hydrated and carry a reusable water bottle.</li>
        <li>Learn a few basic phrases in the local language to communicate with locals.</li>
        <li>Be respectful of the local customs and traditions.</li>
        <li>Ensure you have travel insurance to cover any unexpected situations.</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>If you have any questions, please don't hesitate to contact us.</p>
        <p>- The SmartVacay Team:</p>
        <p><a href="https://github.com/Donald-Chow">Donald</a> - <a href="https://github.com/tyhyun309">Yin</a> - <a href="https://github.com/jshizuki">Joyce</a> - <a href="https://github.com/Arthur-Andrade194">Arthur</a></p>
      </div>
    </div>
  </div>
</body>
