   <div class="container">
    <div class="logo">
      <img src="https://smartvacay.herokuapp.com/assets/new_logo2-a21b6aec0393e759d5faa485e6ae94a7c47e8718dca664a652f81e3a43a6cd9c.png" alt="SmartVacay Logo" width="150">
    </div>
    <h1>Welcome to SmartVacay!</h1>
    <p>You have successfully signed up to SmartVacay.</p>
    <p>To login to the site, just follow this link: <a href="https://smartvacay.herokuapp.com" rel="SmartVacay">SmartVacay</a></p>
    <p>Thanks for joining and have a great day!</p>
  </div>
