    <h1>Welcome to SmartVacay,
    <p>
      You have successfully signed up to SmartVacay,
      
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
