.location-header h2 {
  color: $primary;
}

.location-header p {
  color: $secondary;
}

#show-bookmark {

  position: absolute;
  right: 20px;
  top: 5px;
  a:visited, a:hover, a:active {
    color: $primary;
  }
}

#bookmark-click {
font-size: 30px;
}

#location-details {
background-color: rgba(217, 217, 217, 0.3)
}

#map-container {
height: 390px;
padding-bottom: 30px;
margin-bottom: 30px;
}

#map {
position: relative;
height: 99%;
width: 99%;

}

.card-for-map{
  height: 450px;
}
