.map-display {
  // background-color: black;
  width: 300px;
  height: 300px;
}

.container .page-content {
  position: relative;
  min-height: 100vh; /* Ensure the container covers the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center the content horizontally */
  margin-left: -5px;
}

.search-box-fixed-bottom {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 80px;
  z-index: 9999
}

.location-text {
  margin-top: 60px;
  text-shadow: 1px 1px 1px rgba(103, 103, 103, 0.5);
  color: #497174;
}

.bookmark {
  position: absolute;
  top: 5px;
  right: 10px;
  a {
    color: white;
  }
}
