.map-display {
  // background-color: black;
  width: 300px;
  height: 300px;
}

.container .page-content {
  position: relative;
  min-height: 100vh; /* Ensure the container covers the full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center the content horizontally */
  margin-left: -5px;
}

.search-box-fixed-bottom {
  display: flex;
  justify-content: center;
  // padding: 10px;
  left: 3px;
  position: fixed;
  bottom: 20px;
  width: 100%;
  margin-bottom: 80px;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
// .search-box-fixed-bottom.active {
//   opacity: 1;
// }
// .btn-search {
//   opacity:0;
// }

// .btn-search.active {
//   opacity:1;
// }
.btn-collapse {
  transform: translateY(-50%) rotate(360deg);
}

.search-box-bg {
  background-color: #d7d9d7;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(207, 212, 209, 0.7), 1px 2px 4px 0px rgba(207, 212, 209, 0.7), 2px 4px 8px 0px rgba(207, 212, 209, 0.7), 2px 4px 16px 0px rgba(207, 212, 209, 0.7);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0px;
}

.search-box-bg.active {
  opacity: 1;
  width: 300px;
}

.location-text {
  margin-top: 15px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px rgba(103, 103, 103, 0.5);
  color: $secondary;
}

.bookmark {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $white;
  }
}

.bookmark-icon {
  padding: 5px 10px;
}

.section-wrapper {
  overflow-x: scroll;  /* Enable horizontall scroll */
  overflow-y: hidden;  /* Disable vertical scroll within wrapper */
}

.section-wrapper::-webkit-scrollbar {
  width: 0.5em;
}

.section-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}
