#trips-info {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("http://source.unsplash.com/featured/?Japan&#{rand(1000)}");
  display: block;
  height: 200px;
  padding: 50px;
  text-shadow: 3px 3px 6px #0E0000;
  background-size: cover;
  color: $primary;
}
