<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class='active'></li>
    <% if @location.photo.split(",").count > 1 %>
      <% (@location.photo.split(",").count - 1).times do |i|%>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i + 1%>"></li>
      <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner rounded w-100 my-3" style=" width:100%; max-height:450px !important;">
    <% @location.photo.split(",").each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag (photo), class:"d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
