<div id="titlebar">
  <img src="https://res.cloudinary.com/da2dzfqsn/image/upload/v1685076902/logo_g3faot.svg" alt="logo" width="50" height="50" >
  <a href="#default" id="title">Smart Vacay</a>
</div>
<%# <script>
  // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("titlebar").style.padding = "4px 10px";
      document.getElementById("title").style.fontSize = "15px";
      // document.getElementById("title").style.opacity = "50%";
    } else {
      document.getElementById("titlebar").style.padding = "8px 10px";
      document.getElementById("title").style.fontSize = "24px";
    }
  }
</script> %>
