<div id="titlebar">
  <%= image_tag "new_logo2.png", alt: "logo", height: "35" %>
  <div id="titlebar-signout">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Do you want to sign out?", action: "click->active-tab#setActiveTab", active_tab_target: "link"} do %>
        <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i>
      <% end %>
    <% end %>
  </div>
  <%# <a href="#default" id="title">Smart Vacay</a> %>
</div>
<%# <script>
  // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("titlebar").style.padding = "4px 10px";
      document.getElementById("title").style.fontSize = "15px";
      // document.getElementById("title").style.opacity = "50%";
    } else {
      document.getElementById("titlebar").style.padding = "8px 10px";
      document.getElementById("title").style.fontSize = "24px";
    }
  }
</script> %>
