// Location card

.card-locations {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 16px;
}

.card-location {
  margin: 0 16px 10px; /* Adding 16px between and 10px  bottom */
  width: 160px;
  height: 200px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 11px;
}


.card-location img {
  width: 100%;
  // height: 75%;
  height: 125px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 11px 11px 0px 0px;
}

.card-location-info {
  padding: 8px;
  h4 {
    font-size: 14px;
    margin:0px;
    top:0;
  }
  p {
    font-size: 8px;
    margin:0px;
    bottom:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}


// .card-locations .bookmark {
//   position: absolute;
//   top: 5px;
//   right: 10px;
// }

.card-day h3 {
  padding: 16px;
  background: $white;
  height: 60px;
  margin:0px;
}

// itinerary card

.card-itinerary {
  overflow: hidden;
  height: 160px;
  background: $white;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
}

.card-itinerary-box {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.card-itinerary img {
  height: 120px;
  width: 120px;
  object-fit: fill;
  border-radius: 10px;
  margin: 12px;
}

.card-itinerary h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-itinerary p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 16px;
}

.card-itinerary a {
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0;
}

.card-itinerary .card-itinerary-infos {
  padding: 16px;
}

// direction card
.card-direction {
  overflow: hidden;
  height: 80px;
  background: $white;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-direction h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.card-direction p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  text-align: center;
}
