* {
	box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.page-content {
  margin-bottom: 80px; /* Adjust the margin as needed to avoid covering the navbar */
  // Added more spacing between the top bar and the header (see my_favorites page)
  margin-top: 50px;
  // max-height: calc(100vh - 80px); /* Adjust the max-height as needed */
  // overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}

#page-content-for-itinerary {
  margin-bottom: 80px;
  overflow-x: hidden;
  max-width: 100%;
}

.btn {
  color: white;
}

h1 {
  $secondary: #497174;
}


.back-btn {
  display: inline-block;
  position:fixed;
  top: 85px;
  right: 18px;
  z-index: 4;
  opacity: 35%;
  width: 50px;
  height: 50px;
  text-align: center;
}

.back-btn img {
  width: 90%;
  background-color: white;
  border-radius: 8px;
}


.homepage .fas {
  color: $primary;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
