* {
	box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.page-content {
  margin-bottom: 80px; /* Adjust the margin as needed to avoid covering the navbar */
  // Added more spacing between the top bar and the header (see my_favorites page)
  margin-top: 70px;
  max-height: calc(100vh - 80px); /* Adjust the max-height as needed */
  // overflow-y: auto;
  // overflow-x: hidden;
}

.btn {
  color: white;
}

h1 {
  $secondary: #497174;
}


.back-btn {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: 100px;
  right: 30px;
  z-index: 1;
  opacity: 30%;
  width: 45px;
  height: 45px;
}


.fas {
  color: $primary;
}
