* {
	box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: $bg-color;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.page-content {
  margin-bottom: 80px; /* Adjust the margin as needed to avoid covering the navbar */
  margin-top: 55px;
  // max-height: calc(100vh - 80px); /* Adjust the max-height as needed */
  // overflow-y: auto;
  // overflow-x: hidden;
}

.btn {
  color: white;
}
