/* Create a sticky/fixed navbar */
#titlebar {
  overflow: hidden;
  background-color: #EB6440;
  // opacity: 70%;
  padding: 9px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  height: 50px;
}

/* Style the navbar links */
#titlebar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

/* Style the logo */
#titlebar #logo {
  font-size: 24px;
  font-weight: bold;
  transition: 0.4s;
}

/* Position the signout button */
#titlebar-signout {
  position: absolute;
  right: 10px;
  bottom: -10px;

  a {
    font-size: smaller;
  }
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #titlebar {
    padding: 5px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #title a {
    float: none;
    display: block;
    text-align: left;
  }
}
