/* Place the navbar at the bottom of the page, and make it stick */
.arrow {
  color: #000000;
  opacity: 75%;
  font-size: x-small;
}

.navbar {
  background-color: #EDEDED;
  opacity: 90%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 350px;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  opacity: 75%;
  width: 60px;
}

.nav-text {
  font-size: 12px;
}

/* Add a color to the active/current link */
// .navbar .fas:active {
//     font-weight: bold;
//     opacity: 100%;
//     color: $primary;
//     background-color: #000000;
// }
.navbar .active {
  font-weight: bold;
  opacity: 100%;
  color: $primary;
  //background-color: #000000;
}
