<div class="page-content">
  <div class="container">
    <h1>Suggested locations</h1>
    <% @locations.each do |location| %>
      <div class="card-locations">
        <div class="bookmark">
          <% if current_user %>
            <%= link_to favorite_location_path(location), class: "#{"text-success" if current_user.favorited?(location)}", data: {turbo_method: :post}, onclick: "this.classList.toggle('text-success')" do %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= image_tag location.photo, alt:"location-image" %>
        </div>
        <p><%= location.name %></p>
        <p><%= location.description %></p>
      </div>
    <% end %>
  </div>
</div>
