<div class="page-content">
  <div class="container">
    <h1>All my favorites!</h1>
    <button type="button" class="btn btn-secondary">Generate itinerary</button>
    <% @all_favorites.each do |favorite| %>
      <div class="card-locations">
        <%= image_tag favorite.favoritable.photo, alt: "my-favorite" %>
        <%= favorite.favoritable.name %>
      </div>
    <% end %>
  </div>
</div>
