<div class="page-content">
  <div class="container">
    <h1>All my favorites!</h1>
    <button type="button" class="btn btn-secondary">Generate itinerary</button>
    <% @all_favorites.each do |favorite| %>
      <div class="card-locations">
        <div class="bookmark">
          <% if current_user %>
            <%= link_to favorite_location_path(favorite.favoritable), class: "#{"text-success" if current_user.favorited?(favorite.favoritable)}", onclick: "this.classList.toggle('text-success')" do %>
              <i class="fa-solid fa-bookmark"></i>
            <% end %>
          <% end %>
        </div>
        <%= favorite.favoritable.photo.present? ? image_tag(favorite.favoritable.photo, alt: "location-image") : image_tag("sample_card_image.jpeg", alt: "location-image") %>
        <%= favorite.favoritable.name %>
      </div>
    <% end %>
  </div>
</div>
