<h1>LOCATION SHOW (TEST PURPOSE)</h1>


<div class="Container d-flex justify-content-center ">
  <div class="card" style="width: 18rem;">
    <img src="<%= @location.photo %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @location.name %></h5>
      <p class="card-text"><%= @location.address %></p>
    </div>
  </div>
  <div class="map-display mx-3"> <!--this div done just for organization purpose, bottom is the map-->
    <div id="map"
    data-controller="google-maps"
    style="width: 500px;
    height: 400px;"
    data-markers="<%= @marker.to_json %>"
  > </div>
  </div>

</div>
